.wp-block-post-featured-image {
	flex-shrink: 0;

	&.is-style-single-movie-backdrop {
		block-size: 100%;
		border-radius: 3px;
		display: flex;
		inline-size: 100%;
		inset-block-start: -20%;
		inset-inline-start: 50%;
		isolation: isolate;
		max-inline-size: 80vw;
		object-fit: contain;
		opacity: 0.4;
		position: absolute;
		transform: translateX(-50%);
		z-index: -1;

		& img,
		& .components-placeholder {
			background: radial-gradient(50% 50% at 50% 50%, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.6) 100%);
			filter: blur(150px);
			mix-blend-mode: lighten;
			transform: translate3d(0, 0, 0);
		}
	}
}
